# Compiled .gem files.
*.gem

# Patch files
*.patch

# Temporary directory for the execution of guards.
tmp/

# Coverage data.
coverage/

# Generated documentation.
.yardoc/
doc/

# Bundler data.
.bundle/

# Environment-specific stuff.
Gemfile.lock
.ruby-version

.rvmrc
