# Compiled .gem files.
*.gem

# Temporary directory for the execution of guards.
tmp/

# Generated documentation.
doc/

# Bundler data.
.bundle/

# Environment-specific stuff.
Gemfile.lock
.ruby-version

.rvmrc
