.main-container {
	padding-top: 53px;
}
.input-group > .notes {
	width: 350px;
	height: 350px;
}
.scouting-container {
	height: 100%;
}
.scouting-container > .scouting-part {
	width: 100%;
	height: 100%;
}
.scouting-part-a {
	background-color: red;

}
.scouting-part-b {
	background-color: blue;
}
